@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="auth-card">
    <h3>@ViewData["Title"]</h3>
    <partial name="_StatusMessage" for="StatusMessage" />

    <form id="change-password-form" method="post" class="auth-form">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="field">
            <label asp-for="Input.OldPassword" class="form-label"></label>
            <input asp-for="Input.OldPassword" class="input" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
            <span asp-validation-for="Input.OldPassword" class="field-error"></span>
        </div>
        <div class="field">
            <label asp-for="Input.NewPassword" class="form-label"></label>
            <input asp-for="Input.NewPassword" class="input" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
            <span asp-validation-for="Input.NewPassword" class="field-error"></span>
        </div>
        <div class="field">
            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
            <input asp-for="Input.ConfirmPassword" class="input" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
            <span asp-validation-for="Input.ConfirmPassword" class="field-error"></span>
        </div>
        <button type="submit" class="btn-primary w100">Update password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
