@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_Layout-noRegLog.cshtml";
}

<link rel="stylesheet" href="~/css/Index.css" />

<div class="main-layout" style="display: flex; justify-content: center; align-items: center; padding-top: 10px">
    <div class="auth-card">

        <div class="auth-card-header">
            <h2>Register now</h2>
            <p class="muted">Just give us a few details</p>
        </div>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="auth-form">
            <h2>Create a new account</h2>
            <div asp-validation-summary="ModelOnly" class="auth-alert" role="alert"></div>

            <div class="field">
                <label asp-for="Input.FirstName">First Name</label>
                <input asp-for="Input.FirstName" class="input" placeholder="ex. John" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="field">
                <label asp-for="Input.LastName">Last Name</label>
                <input asp-for="Input.LastName" class="input" placeholder="ex. Smith" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="field">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="john.smith@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" class="input" autocomplete="new-password" aria-required="true" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="input" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn-primary w100">Register</button>
            <div class="auth-links">
                <a asp-page="./Login"
                   asp-route-returnUrl="@Model.ReturnUrl">
                    Already have an account? Log in
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
